*{
    margin: 0;
}

p{
    color: red;
    /* text-align: right; */
}

.p1{
    background: beige;
}
.p2{
    text-decoration: underline;
}
h1{
    color: gray;
}
h2{
    color: blueviolet;
}
h3{
    color: gold;
}
h4{
    color: aquamarine;
}
h5{
    color: teal;
}
#color-sfondo{
    background: silver;
}
h6{
    color: yellowgreen;
}
.font{
    font-size: 30px;
}
.text{
    color: blueviolet;
    text-align: left;
}
a:hover{
    color: red;
}
ul li:last-child{ 
    color: brown;
    font-size: 30px;
}
.p-rgb2{
    color: rgb(255, 0, 0);
}
.p-hex{
    color:#ff0000;
}

h1,p,h3{
    background: green;
    color: white;
}
.rgba{
    background: white;
    color: rgba(255, 0, 0, .7);
}
.colorato{
    color: blue;
    background: white;
}